@import url('https://fonts.googleapis.com/css2?family=Inter&family=Onest:wght@100;400;500&display=swap');


.h-reviewbox{
    width: 1200px;
    height: 340px;
    top: 80px;
    left: 0;
    position: absolute;
    display: flex;
    gap: 24px;
}

.h-reviewbox::-webkit-scrollbar{
    display: none;
}

.h-fbcard{
    width: 486px;
    height: 340px;
    margin: 0;
    position: relative;
    border-radius: 24px;
    background-color: #232E40;
}

.h-quote{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 32px;
    left: 24px;
}

.h-fbcard p{
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    width: 424px;
    height: 140px;
    top: 80px;
    left: 24px;
    position: absolute;
    margin: 0;
}

.h-fbcardline{
    top: 244px;
    left: 24px;
    width: 438px;
    position: absolute;
    border: 1px solid;
    border-color: rgba(119, 126, 144, 0.2);
}

.h-fbdetail{
    width: 438px;
    height: 40px;
    left: 24px;
    top: 268px;
    position: relative;
    display: flex;
    margin: 0;
}

.h-avatar{
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 0;
    display: flex;
}

.h-fbdetail p{
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.85px;
    color: #fff;
    position: absolute;
    width: 374px;
    height: 18px;
    left: 64px;
    top: 0;
}

.h-stars{
    width: 96px;
    height: 16px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 64px;
}
