@import url('https://fonts.googleapis.com/css2?family=Inter&family=Onest:wght@100;400;500&display=swap');

.hnavbarbox{
    width: 100%;
    height: 90px;
    left: 0;
    position: absolute;
    display: flex;
    margin: 0;
    background-color: rgba(255, 255, 255);
}

.hnavbar{
    width: 1200px;
    height: 90px;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.hlogo-header{
    width: 184px;
    height: 48px;
    margin: 0;
}

.hnav-menu1{
    display: flex;
    position: absolute;
    left: 353px;
    white-space: nowrap;
    width: 366px;
    height: 22px;
    gap: 24px;
    list-style: none;
    padding: 0;
}

.hnav-menu1 li a{
    color: #232E40;
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.4px;
}

.hnav-menu2{
    display: flex;
    position: absolute;
    right: 0;
    white-space: nowrap;
    width: 312px;
    height: 58px;
    gap: 24px;
    padding: 0;
    align-items: center;
    text-align: left;
}

.currency{
    width: 52px;
    height: 22px;
    position: relative;
    padding: 0;
    cursor: pointer;
    
}

.currency p{
    color: #232E40;
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.4px;
    text-align: left;
    margin: 0;
    width: 30px;
}

.hbtn1{
    padding: 0;
    border: none;
    width: 54px;
    height: 22px;
    display: flex;
    align-items: center;
    background: none;
}

.language{
    width: 81px;
    height: 22px;
    position: relative;
    padding: 0;
    cursor: pointer;
}

.language p{
    color: #232E40;
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.4px;
    text-align: left;
    margin: 0;
    width: 57px;
}

.hbtn2{
    padding: 0;
    border: none;
    width: 81px;
    height: 22px;
    display: flex;
    align-items: center;
    background: none;
}

.login{
    width: 129px;
    height: 58px;
    position: relative;
    border-radius: 16px;
    cursor: pointer;
    background-color: #232E40;
    color: #fff;
}